# Temporary files
*.log
*.tmp
/temp/
/out/

# Compiled / binary files
*.class
*.jar
*.exe
*.bin
*.lock

# Build output
bin/
build/
.gradle/

# IDE settings
.idea/
.vscode/
.out/
*.iml
.project
.settings/

# Project config
config.properties

